@import url(/css/imports/footer.css);
@import url(/css/imports/global.css);
@import url(/css/imports/nav.css);

/* SECTION COVER */

h1 {
  color: var(--blue);
  padding: 50px 50px 0px 50px;
  text-align: center;
  margin-top: -20px;
}

.smaller-text {
  color: var(--white);
  padding: 30px 150px;
  text-align: center;
  margin-top: 0px;
}

.cover {
  padding-top: 300px;
  background-image: url(/images/sp1-22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
  height: 100vh;
}

.cover__grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.grid-item1 {
  background: var(--purple);
  opacity: 70%;
}

.grid-item1 p {
  padding: 20px 200px 60px 200px;
}

.grid-item2 {
  position: relative;
  top: 60px;
}

.cover__cta .grid-item2 a {
  display: none;
}

/* SECTION CONTENT 1 */

.content1 {
  background-color: var(--dark-purple);
  width: 100%;
}
.content1 h2 {
  margin-top: 0px;
  text-align: right;
}

.content1 .smaller-text {
  color: var(--white);
  text-align: left;
  padding: 0px 0px 0px 70px;
  text-align: right;
}

.content1__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto -50px;
  gap: 80px;
  padding-top: 130px;
}

.content1__grid__left {
  /* background: green; */
  padding-top: 150px;
}

.content1__grid__right {
  /* background: yellow; */
  padding-top: 50px;
  max-width: 400px;
}

.img-container {
  text-align: left;
}

/* SECTION CONTENT 2 */

.content2 {
  background-color: var(--grey);
  width: 100%;
}
.content2 h2 {
  color: var(--dark-purple);
  margin-top: 0px;
  text-align: left;
}

.content2 .smaller-text {
  color: var(--dark-purple);
  text-align: left;
  padding: 0px 0px 0px 0px;
  text-align: left;
}

.content2__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto -50px;
  gap: 80px;
  padding-top: 130px;
}

.content2__grid__left {
  /* background: green; */
  padding-top: 150px;
  order: 1;
}

.content2__grid__right {
  /* background: yellow; */
  padding-top: 50px;
  max-width: 400px;
}

.content2 .img-container {
  text-align: left;
}

.content2 .img-big {
  border: solid 10px var(--pink);
}

.content2 .img-small {
  border: solid 10px var(--blue);
}

/* SECTION CONTENT 3 */

.content3 {
  background-color: var(--white);
}

.content3__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 80%;
  gap: 40px;
  padding: 180px 0 100px;
}

.content3__grid-item {
  /* background: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content3 .blue {
  background-color: var(--blue);
  color: var(--dark-purple);
}

.content3 .blue:hover {
  border: solid 5px var(--blue);
}

.content3 .grey {
  background-color: var(--grey);
  color: var(--dark-purple);
}

.content3 .grey:hover {
  border: solid 5px var(--grey);
}
.content3__cta:hover {
  background-color: var(--white);
  color: var(--purple);
  border: solid 5px var(--dark-purple);
}

.content3 .img-kids {
  border: solid 10px var(--pink);
}

.content3 .img-teachers {
  border: solid 10px var(--blue);
}

.content3 .img-researchers {
  border: solid 10px var(--grey);
}

@media (max-width: 1390px) {
  /* COVER */
  h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .smaller-text {
    font-size: 22px;
  }
  .cover {
    background-position: bottom;
  }

  .cover__grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -200px;
  }

  .grid-item1 p {
    padding: 10px 10px 20px;
  }
}

@media (max-width: 1000px) {
  /* SECTION CONTENT 1 */
  .content1__grid {
    grid-template-columns: 1fr;
    gap: 0px;
    margin: 0 auto 0px;
  }

  .content1__grid__right {
    /* background: yellow; */
    padding-top: 50px;
    margin-bottom: -30px;
    max-width: 200px;
  }
  .content1__grid__left {
    order: 1;
    padding-top: 0px;
  }

  .content1 h2 {
    margin-top: 0px;
    text-align: left;
  }

  .content1 .smaller-text {
    color: var(--white);
    text-align: left;
    padding: 10px 0px;
    text-align: left;
  }

  /* SECTION CONTENT 2 */
  .content2__grid {
    grid-template-columns: 1fr;
    gap: 0px;
    margin: 0 auto 0px;
  }

  .content2__grid__right {
    /* background: yellow; */
    padding-top: 50px;
    margin-bottom: -30px;
    max-width: 200px;
  }
  .content2__grid__left {
    order: 1;
    padding-top: 0px;
  }

  .content2 h2 {
    margin-top: 0px;
    text-align: left;
  }

  .content2 .smaller-text {
    text-align: left;
    padding: 10px 0px;
    text-align: left;
  }

  .content2 .img-big {
    border: solid 5px var(--pink);
  }

  .content2 .img-small {
    border: solid 5px var(--blue);
  }
}

@media (max-width: 1150px) {
  /* SECTION CONTENT 3 */
  .content3__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: 80%;
    gap: 40px;
    padding: 100px 0 100px;
  }

  .content3-text {
    font-family: nobel, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    color: var(--dark-purple);
    padding-right: 50px;
  }

  .content3 img {
    width: 180px;
    height: 180px;
  }
}
