@import url(/css/imports/footer.css);
@import url(/css/imports/global.css);
@import url(/css/imports/nav.css);



/* SECTION CONTENT 2 */

.content2 {
  background-color: var(--grey);
  width: 100%;
}
.content2 h2 {
  color: var(--purple);
  margin-top: 0px;
  text-align: left;
}

.content2 .smaller-text {
  color: var(--dark-purple);
  text-align: left;
  padding: 0px 0px 0px 0px;
  text-align: left;
}

.content2__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto -50px;
  gap: 80px;
  padding-top: 130px;
}

.content2__grid__left {
  /* background: green; */
  padding-top: 150px;
  order: 1;
}

.content2__grid__right {
  /* background: yellow; */
  padding-top: 50px;
  max-width: 400px;
}

.content2 .img-container {
  text-align: left;
}

.content2 .img-big {
  border: solid 10px var(--pink);
}

.content2 .img-small {
  border: solid 10px var(--blue);
}

/* SECTION CONTENT 3 */

.content3 {
  background-color: var(--white);
}

.content3__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 80%;
  gap: 40px;
  padding: 180px 0 100px;
}

.content3__grid-item {
  /* background: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content3 .blue {
  background-color: var(--blue);
  color: var(--dark-purple);
}

.content3 .blue:hover {
  border: solid 5px var(--blue);
}

.content3 .grey {
  background-color: var(--grey);
  color: var(--dark-purple);
}

.content3 .grey:hover {
  border: solid 5px var(--grey);
}
.content3__cta:hover {
  background-color: var(--white);
  color: var(--purple);
  border: solid 5px var(--dark-purple);
}

.content3 .img-kids {
  border: solid 10px var(--pink);
}

.content3 .img-teachers {
  border: solid 10px var(--blue);
}

.content3 .img-researchers {
  border: solid 10px var(--grey);
}

  /* SECTION CONTENT 2 */
  .content2__grid {
    grid-template-columns: 1fr;
    gap: 0px;
    margin: 0 auto 0px;
  }

  .content2__grid__right {
    /* background: yellow; */
    padding-top: 50px;
    margin-bottom: -30px;
    max-width: 200px;
  }
  .content2__grid__left {
    order: 1;
    padding-top: 0px;
  }

  .content2 h2 {
    margin-top: 0px;
    text-align: left;
  }

  .content2 .smaller-text {
    text-align: left;
    padding: 10px 0px;
    text-align: left;
  }

  .content2 .img-big {
    border: solid 5px var(--pink);
  }

  .content2 .img-small {
    border: solid 5px var(--blue);
  }
}

@media (max-width: 1150px) {
  /* SECTION CONTENT 3 */
  .content3__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: 80%;
    gap: 40px;
    padding: 100px 0 100px;
  }

  .content3-text {
    font-family: nobel, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    color: var(--dark-purple);
    padding-right: 50px;
  }

  .content3 img {
    width: 180px;
    height: 180px;
  }
}
