/* UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--purple);
  margin: 0;
}

/* COLOUR PALETTE */
:root {
  --purple: #223773;
  --dark-purple: #1e2c6b;
  --blue: #76aede;
  --pink: #c4a3cf;
  --grey: #cfcfcf;
  --white: #fdfdff;
}

/* TYPOGRAPHY */
h1 {
  font-family: poleno, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  color: var(--purple);
  margin-top: 2rem;
}

h2 {
  font-family: poleno, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: var(--pink);
  margin-top: 2rem;
}

h3 {
  font-family: poleno, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: var(--purple);
  margin-top: 2rem;
}

.regular-text {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 42px;
  color: var(--purple);
}

.smaller-text {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: var(--purple);
}

.content3-text {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: var(--dark-purple);
  padding-right: 40px;
}

/* CTAs */
.cover__cta {
  font-family: nobel, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--purple);
  width: 300px;
  padding: 20px 60px;
  display: block;
  margin: 0 auto;
  color: var(--white);
  text-align: center;
  position: relative;
  bottom: 30px;
}

.cover__cta:hover {
  background-color: var(--white);
  color: var(--purple);
}

.content3__cta {
  font-family: nobel, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--purple);
  width: 300px;
  padding: 20px 60px;
  display: block;
  margin-top: 20px;
  color: var(--white);
  text-align: center;
}

.content3__cta:hover {
  background-color: var(--white);
  color: var(--purple);
  border: solid 5px var(--dark-purple);
}

/* IMAGES */
.img-big {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 10px var(--blue);
}

.img-small {
  width: 152px;
  height: 152px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 10px var(--pink);
  position: relative;
  top: -100px;
}

.img-content3 {
  width: 247px;
  height: 247px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 10px var(--blue);
}

/* ARROWS */
.arrow-down {
  text-align: center;
}

.arrow-down img {
  padding-bottom: 60px;
}

.arrow-down img:hover {
  opacity: 60%;
}

@media (max-width: 1000px) {
  .img-container {
  }

  .img-big {
    width: 200px;
    height: 200px;
    border: 5px solid var(--blue);
    display: block;
    margin: -30px auto 50px;
  }

  .img-small {
    display: none;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
    text-align: center;
  }

  .content3 {
    padding-top: 30px;
  }

  .content3 a,
  img {
    text-align: center;
    margin: 20px auto 0px;
  }

  .content3 a {
    font-size: 14px;
  }

  .content3 p {
    font-size: 18px;
    text-align: center;
    padding-right: 0;
  }

  .arrow-down {
    padding-top: 20px;
  }

  .arrow-down img {
    width: 30px;
  }
}
